/* RESET BÁSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    color: #ffffff;
    line-height: 1.6;
}

/* HEADER */
header {
    background-color: #292929;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid #ffa31a;
}

header h1 {
    color: #ffa31a;
    margin-bottom: 10px;
}

nav a {
    color: #ffffff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffa31a;
}

/* HERO */
.hero {
    background-color: #1b1b1b;
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 36px;
    color: #ffa31a;
}

.hero p {
    color: #808080;
    margin: 15px 0;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background-color: #ffa31a;
    color: #1b1b1b;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #000000;
}

/* SECCIONES */
section {
    padding: 60px 20px;
}

/* MENÚ */
.menu h2,
.promo h2,
.contacto h2 {
    text-align: center;
    color: #ffa31a;
    margin-bottom: 40px;
}

/* CARDS */
.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background-color: #292929;
    width: 260px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}

.card h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.card p {
    color: #808080;
    font-size: 14px;
}

.card span {
    display: block;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #ffa31a;
}

/* PROMOCIONES */
.promo {
    background-color: #292929;
    text-align: center;
}

.promo p {
    font-size: 18px;
    margin: 10px 0;
    color: #ffffff;
}

/* CONTACTO */
.contacto {
    background-color: #1b1b1b;
    text-align: center;
}

.contacto p {
    color: #808080;
    margin: 10px 0;
}

/* FOOTER */
footer {
    background-color: #292929;
    text-align: center;
    padding: 20px;
    color: #808080;
    border-top: 3px solid #ffa31a;
}
